.sidebar {
    width: 330px;
    position: fixed;
    height: 100vh;

    .languages {
        display: flex;
        align-items: center;
        justify-self: center;
        margin-left: 10px;
        button.c {
            margin-right: 5px;

            svg {
                width: 30px;
            }
        }
    }

    button.c {
        border: none;
        outline: none;
        background: none;
        cursor: pointer;
        color: var(--primary);
        display: flex;
        padding: 0;
        margin: 0;

        &.light {
            svg {
                transition: fill 0.2s;
                fill: transparent;
            }

            &:hover {
                svg {
                    fill: var(--primary);
                }
            }
        }

        &.dark {
            svg {
                fill: var(--primary);
            }
        }
    }

    .logo {
        display: flex;
        align-items: center;
        margin-top: 35px;

        p {
            font-weight: bold;
            color: var(--header);
            font-size: 2em;
            margin: 0;
            margin-right: 25px;
        }
    }

    .avatar {
        width: 50px;
        height: 50px;
        background-size: cover !important;
        background-position: center !important;
        border-radius: 50%;
    }

    @media screen and (max-width: 900px) {
        position: absolute;

        width: 100%;
        margin: 0;
        .container {
            margin-left: 0 !important;
            margin: 0 auto !important;
            background: var(--background);
            position: fixed;
            z-index: 99;
            width: 100% !important;
            height: 100% !important;
            overflow: hidden;
        }

        .isClosed {
            .container {
                display: none;
            }
        }

        .wrapper {
            width: 80%;
            margin: 0 auto;
            height: 100%;
        }

        .logo {
            display: flex;
            align-items: center;
            position: absolute;
            top: 15px;
            right: 15px;
            margin-top: 0;
            p {
                display: none;
            }
        }

        .user {
            margin-top: 80px !important;
        }
    }

    .wrapper {
        height: 100%;
    }

    .burger {
        cursor: pointer;
        position: fixed;
        left: 25px;
        top: 15px;
        width: 30px;
        height: auto;
        z-index: 999;
        color: var(--text);
        @media screen and(min-width: 900px) {
            display: none;
        }
    }

    .container,
    .container-content {
        height: 98%;
    }

    .container {
        width: 65%;
        margin-left: 50px;
    }

    .user {
        display: flex;
        margin-top: 40px;
        align-items: center;
        img {
            width: 60px;
            height: 60px;
            border-radius: 50%;
        }

        .content {
            display: flex;
            flex-direction: column;
            margin-left: 25px;
            h4 {
                font-size: 16px;
                margin: 0;
            }
            p {
                color: var(--text-secondary);
                margin: 0;
                margin-top: 4px;
            }
        }
    }

    .signout {
        width: 100%;
        margin-top: 15px;
        button {
            width: 100%;
        }
    }

    .routes {
        padding-top: 55px;

        padding-top: 55px;
        height: calc(100% - 200px);
        position: relative;

        ul {
            list-style: none;
            padding: 0;
            width: 100%;

            &.bottom {
                bottom: 0;
                position: absolute;
            }

            li {
                display: flex;
                align-items: center;

                border-radius: 8px;
                font-size: 1.1em;
                transition: all 0.2s;
                &:hover {
                    // opacity: .8;
                    background-color: var(--menu-hover);
                }
                &.active {
                    opacity: 1;
                    background-color: var(--menu-active);

                    a,
                    svg {
                        color: var(--menu-active-color);
                        font-weight: var(--menu-active-boldness);
                    }
                }

                svg {
                    margin-bottom: 2px;
                    color: var(--menu-inactive);
                    width: 20px !important;
                    height: auto !important;
                    margin-right: 25px;
                }

                a {
                    display: flex;
                    align-items: center;
                    text-decoration: none;
                    padding: 10px 15px;
                    color: var(--menu-inactive);
                    width: 100%;
                }
            }
        }
    }
}
