.tasks {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 0;

    .header {
        h1 {
            margin-top: 70px;
            margin-bottom: 35px;
        }
        display: flex;
        align-items: center;

        button {
            margin-left: auto;
        }
    }

    h2 {
        margin-top: 0;
        margin-bottom: 25px;
    }

    .task {
        display: flex;
        position: relative;
        align-items: center;
        margin-bottom: 15px;
        border-radius: 18px;
        transition: all 0.2s;
        padding: 10px;
        &:hover {
            background: var(--task-hover);

            .infos span.incompleted {
                opacity: .3;
            }
        }
        .icon-container {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 20px;
            height: 65px;
            width: 65px;
            background-color: var(--subject-background);
            transition: background-color 0.2s;
            svg {
                width: 50%;
                height: auto;
            }
        }

        h2 {
            color: #a8a9bc;
        }

        .content {
            height: 100%;
            margin-left: 30px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            h4 {
                font-weight: 700;
                font-size: 1.2em;
                margin: 0;
            }
            p {
                margin-top: 5px;
                color: var(--text-secondary);
                margin-bottom: 0;
            }

            @media screen and (max-width: 900px) {
                max-width: 50%;
            }
        }

        .infos {
            position: absolute;
            right: 0;
            display: flex;
            align-items: center;

            .complete {
                position: absolute;
                right: 80px;
                opacity: .2;
                transition: all .2s;
                display: flex;
                height: 40px;
                width: 40px;
                align-items: center;
                justify-content: center;

                svg {
                    color: #1abc9c;
                }

                &.completed {
                    opacity: 1;
                }

                &.incompleted {
                    opacity: 0;

                    &:hover {
                        opacity: 1;
                    }
                }
            }

            .group {
                border-radius: 8px;
                background-color: var(--primary);
                color: white;
                padding: 6px;
                font-size: 12px;
                margin-right: 15px;
                min-width: 30px;
                text-align: center;

                svg {
                    width: 18px;
                    height: auto;
                }

                &.students {
                    background-color: #009688;
                }

                &.self {
                    background-color: #22b6db;
                }

                &.icon {
                    padding: 4px;
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                &.class {
                    background-color: #e34646;
                }
            }

            .name {
                background: #ffe7cc;
                border-radius: 50%;
                height: 45px;
                width: 45px;
                display: flex;
                align-items: center;
                justify-content: center;

                span {
                    color: #ff8b0c;
                }
            }
        }
    }
}
