.checkbox {
    margin: 0;
    margin-bottom: 15;

    &.disabled {
        pointer-events: none;
        opacity: .5;
    }
}

/* Hide the browser's default checkbox */
/* Create a custom checkbox */
/* On mouse-over, add a grey background color */
/* When the checkbox is checked, add a blue background */
/* Create the checkmark/indicator (hidden when not checked) */
/* Show the checkmark when checked */
/* Style the checkmark/indicator */
.container {
    display: flex;
    margin: 0;
    align-items: center;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 1em;
    user-select: none;

    height: 20px;

    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
        &:checked {
            ~ {
                .checkmark {
                    background-color: #572ce8;
                    transition: all 0.1s;
                    &:after {
                        display: block;
                    }
                }
            }
        }
    }

    p {
        margin: 0;
    }

    .checkmark {
        &:after {
            left: 7px;
            top: 4px;
            width: 4px;
            height: 7px;
            border: solid white;
            border-width: 0 3px 3px 0;
            transform: rotate(45deg);
        }
    }
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #c6c6c6;
    border-radius: 4px;
    &:after {
        content: "";
        position: absolute;
        display: none;
    }
}
