{
    "plugins": [
      "prettier",
      "@typescript-eslint"
    ],
    "extends": [
      "airbnb-typescript",
      "react-app",
      "prettier",
      "plugin:react/recommended"
    ],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
      "project": "./tsconfig.json"
    },
    "settings": {
      "import/resolver": {
        "typescript": {
          "alwaysTryTypes": true
        }
      }
    },
    "rules": {
      "import/no-dynamtic-require": "off",
      "no-shadow": "off",
      "no-continue": "off",
      "@typescript-eslint/no-shadow": "off",
      "react/jsx-curly-newline": "off",
      "@typescript-eslint/object-curly-spacing": "off",
      "jsx-a11y/click-events-have-key-events": "off",
      "@typescript-eslint/lines-between-class-members": "off",
      "no-tabs": 0,
      "radix": "off",
      "no-unused-vars": [
        "warn",
        {
          "vars": "all",
          "args": "none"
        }
      ],
      "@typescript-eslint/indent": [
        "error",
        "tab"
      ],
      "react/jsx-indent": [
        "error",
        "tab"
      ],
      "react/jsx-indent-props": [
        "error",
        "tab"
      ],
      "react/react-in-jsx-scope": "off",
      "@typescript-eslint/no-unused-vars": [
        "warn",
        {
          "vars": "all",
          "args": "none"
        }
      ],
      "@typescript-eslint/no-explicit-any": "off",
      "max-len": [
        "warn",
        {
          "code": 120,
          "ignoreStrings": true,
          "ignoreTemplateLiterals": true,
          "ignoreComments": true
        }
      ],
      "no-plusplus": "off",
      "react/jsx-key": "error",
      "import/no-extraneous-dependencies": [
        "error",
        {
          "devDependencies": [
            "**/*.test.js",
            "**/*.test.jsx",
            "**/*.test.ts",
            "**/*.test.tsx",
            "src/tests/**/*"
          ]
        }
      ],
      "react/jsx-props-no-spreading": "off",
      "import/prefer-default-export": "off",
      "react/jsx-boolean-value": "off",
      "react/prop-types": "off",
      "react/no-unescaped-entities": "off",
      "react/jsx-one-expression-per-line": "off",
      "react/jsx-wrap-multilines": "off",
      "react/destructuring-assignment": "off",
      "@typescript-eslint/comma-dangle": [
        "error",
        {
          "arrays": "only-multiline",
          "objects": "only-multiline",
          "imports": "only-multiline",
          "exports": "only-multiline",
          "functions": "never"
        }
      ]
    }
  }