@import "fonts";
@import "reset";
@import "themes";
@import "animations";

html,
body,
#root {
    min-height: 100vh;
}

body {
    font-family: "Cabin", sans-serif;

    &.noscroll {
        @media screen and(max-width: 900px) {
            overflow: hidden;
        }
    }
}

.page {
    min-height: 100vh;
    display: flex;
    background-color: var(--background);
    transition: background-color 0.2s;
}

.preload {
    transition: none !important;
    animation: none !important;
    * {
        transition: none !important;
        animation: none !important;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--header);
    transition: color 0.2s;
}

p {
    color: var(--text);
    transition: color 0.2s;
}

.route {
    display: flex;
    padding-left: 350px;
    width: 100%;
    margin-top: 70px;
    flex-direction: column;

    h1 {
        margin-top: 0;
    }
    @media screen and (max-width: 900px) {
        padding: 0;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}

.MuiFormControl-root.MuiTextField-root > * {
    color: var(--text);
}

.react-tagsinput {
    background-color: var(--input-background);
    border: 2px solid var(--primary) !important;
    overflow: hidden;
    padding-left: 5px;
    border-radius: 8px;
    padding-top: 5px;

    &.disabled {
        opacity: 0.7;
    }

    .react-tagsinput-tag {
        background-color: var(--primary);
        border-radius: 2px;
        color: white;
        border: none;
        display: inline-block;
        font-family: sans-serif;
        font-size: 13px;
        font-weight: 400;
        margin-bottom: 5px;
        margin-right: 5px;
        padding: 5px;
    }

    input {
        width: 120px;
    }
}
