.task {
    padding: 40px;

    @media screen and(max-width: 600px) {
        padding: 25px;
    }

    .header {
        display: flex;
        align-items: center;

        h1 {
            margin: 0;
        }

        svg {
            margin-left: 20px;
            width: 50px;
            height: auto;
        }

        button {
            margin-left: auto;
        }

        @media screen and (max-width: 600px) {
            flex-direction: column;
            align-items: unset;
            h1 {
                margin-bottom: 15px;
            }

            button {
                margin-left: unset;
                margin-right: auto;
            }
        }

    }
    
    .classinfos {
        display: flex;
        justify-content: space-between;

        &.promotion {
            > div {
                width: 49%;
            }
            margin-bottom: 15px!important;
        }
        
        > div {
            width: 32%;
        }

        margin-bottom: 5px!important;
        
        @media screen and(max-width: 550px) {
            flex-direction: column;
            > div {
                margin-bottom: 8px;
                width: 100%;
            }
        }
    }

    .copy {
        margin-left: 15px!important;
        width: 25px!important;
        cursor: pointer;

        transition: all 0.1s;
        &:hover {
            opacity: 0.9;
        }
        
        &:active {
            opacity: .6;
        }
    }

    .actions {
        margin-bottom: 0!important;
        
        &.new {
            .save {           
                width: 100%;
            }
        }
        .save {
            width: 80%;
        }
        :last-child {
            margin-left: auto;
        }
    }

    .subheader {
        
        margin-top: 25px;
        margin-bottom: 20px;
        display: flex;
        p {
            margin: 0;
            color: #303742;
        }
        p.subject {
            font-weight: bold;
            color: #572ce8;
            text-transform: uppercase;
        }
        p.author {
            margin-left: 45px;
            span {
                font-weight: bold;
                color: #332f2f;
            }
        }

        @media screen and (max-width: 550px) {
            flex-direction: column;
            p.author {
                margin-top: 5px;
                margin-left: unset;
            }
        }
        
    }

    .columns {
        display: flex;
        justify-content: space-between;
        width: 90%;
        
        h3 {
            margin-bottom: 0;
        }

        p {
            svg {
                margin-right: 5px;
            }

            display: flex;
            align-items: center;
            color: #332f2f;
        }

        @media screen and (max-width: 550px) {
            width: 100%;
        }
    }

    .edit {
        display: flex;
        flex-direction: column;
        position: relative;

        > div {
            display: flex;
            margin-bottom: 15px;
        }
    }
    
    .content {
        color: #303742;
        margin-top: 10px;
        max-height: 320px;
        overflow-y: auto;

        @media screen and(max-width: 900px) {
            // width: 50%;
        }

        a {
            color: #572ce8;
        }
    }

    h1 {
        margin-top: 0;
    }

    .users {
        flex-wrap: wrap;
        margin-left: -5px;
        transition: all 0.2s;
        animation: task_fadeIn__1rbHa 0.4s;
        position: absolute;
        bottom: 80px;
        z-index: 12;
        background: white;
        width: 100%;
        left: 0;
        right: 0;

        .user {
            padding: 5px;
            cursor: pointer;
            transition: all 0.2s;
            animation: fadeIn 0.4s;

            p {
                border-radius: 4px;
                margin: 0;
                background-color: #572ce8;
                color: white;
                padding: 5px 15px;
            }
        }
    }
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}