.input {
    display: flex;
    flex-direction: column;
    input, textarea {
        background-color: var(--input-background);
        border: none;
        border-radius: 8px;
        padding: 5px 10px;
        width: auto;
        min-height: 20px;
        color: var(--text);
        border: solid 2px var(--primary);
        outline: none;
    
        resize: vertical;

        &:disabled {
            opacity: .6;
        }
    }

    p {
        margin: 0;
        margin-bottom: 5px;
    }
}