.home {
    display: flex;
    width: 80%;
    
    .tasks {
        width: 50%;
        position: fixed;
        height: 100vh;
        overflow: auto;
        padding-right: 5%;

        -ms-overflow-style: none;
        &::-webkit-scrollbar {
            display: none;
        }
    }
    
    .calendar {
        margin-left: auto;
        border-left: solid 1px #e6e6e6;
        padding-left: 50px;
        width: 350px;

        position: fixed;
        right: 0;
        height: 100vh;
        overflow: auto;

        -ms-overflow-style: none;
        &::-webkit-scrollbar {
            display: none;
        }
    }
    
    @media screen and (max-width: 1550px) {
        flex-direction: column-reverse;

        .tasks {
            width: 80%;
            position: relative;
            height: auto;
        }
        
        .calendar {
            position: relative;
            height: auto;
            width: 80%;
            margin-left: unset;
            border-left: none;
            padding-left: 0;

            div  {
                max-height: unset!important;
            }
        }
    }

    @media screen and (max-width: 900px) {
        .tasks {
            width: 100%;
        }
        .calendar {
            width: 100%;
        }
    }

}