name: Test

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  test:
    name: Test
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go 1.x
      uses: actions/setup-go@v2
      with:
        go-version: ^1.15

    - name: Check out code into the Go module directory
      uses: actions/checkout@v2

    - name: Test
      env:
        DB_HOST: ${{ secrets.DB_HOST }}
        DB_USER: ${{ secrets.DB_USER }}
        DB_PASS: ${{ secrets.DB_PASS }}
        DB_NAME: ${{ secrets.DB_NAME }}
        CLIENT_ID: ${{ secrets.CLIENT_ID }}
        CLIENT_SECRET: ${{ secrets.CLIENT_SECRET }}
        SECRET: ${{ secrets.SECRET }}
        CRI_USERNAME: ${{ secrets.CRI_USERNAME }}
        CRI_PASSWORD: ${{ secrets.CRI_PASSWORD }}
        CHRONOS_TOKEN: ${{ secrets.CHRONOS_TOKEN }}
        DEV: true
      run: go test -v ./...
